<div class="page-header">
  <%%= link_to <%= prefixed_index_helper %>_path, class: 'btn btn-default pull-right' do %>
    <i class="glyphicon glyphicon-list-alt"></i>
    Back
  <%% end %>
  <%%= link_to edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn btn-primary pull-right' do %>
    <i class="glyphicon glyphicon-pencil"></i>
    Edit
  <%% end %>
  <h1>Show <%= human_name %></h1>
</div>

<dl class="dl-horizontal">
  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <dt><%= attribute.human_name %>:</dt>
    <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
  <% end -%>
</dl>